img{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body{
    background:#FFF;color:#000;
    font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size:100%;
    width: 1000px;
    margin: auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
div.zx-front-body{


}
div.zx-front-clear-both{
    clear: both;
}
div.zx-front-10px-margin{
    margin: 10px;
}
.zx-front-current-page {
    color: white;
    background-color: black;
}
mark{
    color: black;
    font-weight: 700;
    font-size: 50px;
    background-color:white; 
}

div.zx-front-header{
    background-color: white;
    border-bottom: 1px solid #F2F2F3;
}
div.zx-front-header1{
    width: 30%;
    float: left;
    background-color: white;
    border: 1px solid black;
}
div.zx-front-header2{
    width: 65%;
    float: right;
    background-color: white;
    border: 1px solid black;
}

.zx-front-logo{
    float: left;
    background-repeat: no-repeat;
}
.zx-front-logo a{
    color: black;
    text-decoration: none;
}
a.zx-front-read-more {
    background: none repeat scroll 0 0 silver;
    border-radius: 3px 3px 3px 3px;
    color: #555444;
    float: right;
    font-size: 13px;
    padding: 3px 15px;
    text-decoration: none;
}
nav.zx-front-top-menu{
    width: 1000px;
    /*float: right;*/

}
nav.zx-front-top-menu a.zx-front-top-active-menu {
    color: black;
    background-color: silver;

}
nav.zx-front-top-menu li{
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 1px;
}
nav.zx-front-top-menu a{
    color: white;
    display: block;
    font-weight: 600;
    font-size:12px;
    height:12px;
    padding: 5px 12px 9px 12px;
    background: none repeat scroll 0 0 #555444;
    border: 1px solid #555444;
    cursor: pointer;
}
a.zx-front-top-menu-first{
    border-radius: 20px 0px 0px 20px;
}
a.zx-front-top-menu-last{
    border-radius: 0px 20px 20px 0px;
}
.zx-front-login{
    margin:3px 0;
}
.zx-front-login a{
    color: #555444;
    padding: 1px 12px 3px 12px;
    background: none repeat scroll 0 0 silver;
    border: 1px solid silver;    
    font-weight: 600;
    font-size:11px;
}
.zx-front-main{
    margin-top:20px;
}
div.zx-front-left{
    width: 70%;
    float: left;
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-left1{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-left2{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right{
    width: 25%;
    float: left;
    background-color: white;
    border: 2px solid #F2F2F3;
}

div.zx-front-right1{
    background-color: white;
    border: 2px solid #F2F2F3;
    padding: 10px;
}
div.zx-front-right2{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right3{
    padding-top: 10px;
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right4{
    background-color: white;
    border: 2px solid #F2F2F3;
}
div.zx-front-right5{
    background-color: white;
    border: 2px solid #F2F2F3;
}
.zx-front-tag-title{
    color: #766666;
    font-size: 16px;
    font-weight: 800;
}
div.zx-front-tag1, div.zx-front-tag2{
    float:left;
    margin:5px;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}
div.zx-front-tag1{
    background-color: silver;
}
div.zx-front-tag2{
    background-color: #555444;
}
div.zx-front-tag1 a{
    color: #555444;
}
div.zx-front-tag2 a{
    color: white;
}
.zx-front-latest-ad-list li{
    list-style: none;
}
.zx-front-latest-ad-title{
    color: #766666;
    font-size: 16px;
    font-weight: 800;
}
a.zx-front-latest-ad{
    color: black;
    font-size: 13px;
}
.zx-front-article-title{
    color: #766666;
    font-size: 16px;
    font-weight: 900;
}
.zx-front-latest_ad{
    text-decoration: none;
    color:#332828;
    font-weight:700;
    font-size: 15px;
}
a.zx-front-latest-ad:hover{
    text-decoration: underline;
}
.zx-front-latest-article{
    text-decoration: none;
    color:#332828;
    font-weight:700;
    font-size: 15px;
}
.zx-front-related-article{
    text-decoration: none;
    color:#332828;
    font-weight:700;
    font-size: 15px;
}
div.zx-front-footer{
    width:1000px;
    margin:30px auto;
    background-color: #E1E1E1;
    border:0px;
    border-top: 8px solid #555444;
    padding: 15px;
}
nav.zx-front-bottom-menu{
    font-size: 12px;
    margin-bottom: 50px;
}

nav.zx-front-bottom-menu li{
    list-style-type: none;
    float: left;
    margin-right: 7px;
}
nav.zx-front-bottom-menu li a{
    color: #555444;
    cursor: pointer;    
}
.zx-front-left2 nav ul li{
    margin: 10px;
}
.zx-front-right3 li{
    margin-top: 5px;
}
.zx-front-article-title{

}
.zx-front-article-abstract{
    margin-top:5px;
}
.zx-front-article-content{

}

a.zx-front-tag{
    text-align: left;
    background-color: silver;
    color: #555444;    
    padding:5px;
    border-radius: 5px 5px 5px 5px;
}

.zx-front-breadcrumb{
    margin: 10px;
}
.zx-front-breadcrumb-item{
    color: #F7941E;
    text-decoration: none;
    font-size:13px;
    font-weight: 800;
}

/**  question list */
.zx-front-question-list li{
    list-style: none;
    float: left;
    font-size: 11px;
}


li.zx-front-question-list-heading-col1{
    width:50px;
}
li.zx-front-question-list-heading-col2{
    width:350px;
}
li.zx-front-question-list-heading-col3{
    width:150px;
}
li.zx-front-question-list-heading-col4{
    width:350px;
}
li.zx-front-question-list-heading-col5{
    width:150px;
}
li.zx-front-one-question-col1{
    width: 22px;
    background-color: silver;
    color: #555444;
    padding: 5px;
    margin-right:15px;
    border-radius: 5px 5px 5px 5px;
}
li.zx-front-one-question-col2{
    width: 350px;
}
li.zx-front-one-question-col2 a {
    color: green;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 800;
}
li.zx-front-one-question-col3{
    width: 100px;
}
li.zx-front-one-question-col4{
    width: 350px;
}
li.zx-front-one-question-col5{
    width: 150px;

}
li.zx-front-one-question-col5 a{
    color: green;

}
li.zx-front-one-question-col6{
    width: 650px;
}
li.zx-front-one-question-col7{
    width: 150px;
}
li.zx-front-one-question-col8{
    float: right;
    width: 150px;
}
div.zx-front-one-question{
    border-bottom: solid silver 2px;
}

/**  one question detail page */
.zx-front-question{
    border: 2px green solid;
    border-radius: 5px 5px 5px 5px;
    width: 600px;
    padding:10px;
}
span.zx-front-state-name{
    color: red;
    padding-right: 30px;
    font-size:15px;
}
.zx-front-one-answer{
        border: 2px silver solid;
    border-radius: 5px 5px 5px 5px;
    width: 600px;
    padding:10px;
    margin: 5px;
}
a.zx-front-vote-link{
    color: silver;
    font-size: 10px;
}
a.zx-front-claim-link
{
    color: silver;
    font-size: 10px;
}
span.zx-front-claim{
    font-size: 10px;
}
span.zx-front-question-user{
    font-size: 15px;
}
.zx-front-page-content{
    text-align: left;
}

.zx-front-disclaimer{
    color: black;
    font-size: 13px;
}
.zx-front-remind{
    margin-top:10px;
    color: #555444;
    font-size:12px;
}

.zx-front-form fieldset{
    border: 2px groove threedface;
    font-size: 13px;
    background-color: #F1F1F1;
}
.zx-front-form a{
    font-size: 13px;
    color: green;
}

.zx-front-required::after {
    content: url("../image/icon/star-icon.png");
}

.zx-front-user-list a{
    font-size: 13px;
    color: #555444;
}

.zx-front-user-menu{
    list-style: none;
    width: 100px;
}
.zx-front-user-menu li{
    background-color: #C1C1C1;
    padding: 5px;
    margin: 5px;
    border-radius: 3px 3px 3px 3px;

}

.zx-front-user-menu a{
    color: #555444;
    font-size: 13px;
    font-weight: 600;
}

.zx-front-user-menu{
    width:120px;
    float: left;
}